<!DOCTYPE html>
<html data-wf-page="5b0e9d9123332d3a88b71a5c" data-wf-site="5af1b494cd7565715e9574d4" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{name}}</title>

  <!--  Essential META Tags -->

  <meta property="og:title" content="{{name}}">
  <meta property="og:description" content="{{summary}}">
  <meta property="og:image" content={{previewImage}}>
  <meta property="og:url" content="https://heyskill.me/blog/{{slug}}">
  <meta name="twitter:card" content="summary_large_image">


  <!--  Non-Essential, But Recommended -->

  <meta property="og:site_name" content="SkillMe">


  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../css/components.css" rel="stylesheet" type="text/css">
  <link href="../css/heyskillme.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic"]
      }
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.0/dist/instantsearch.min.js"></script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">
    ! function (o, c) {
      var n = c.documentElement,
        t = " w-mod-";
      n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className +=
        t + "touch")
    }(window, document);
  </script>
  <link href="../images/HeySkillMeWebsiteIconMini.png" rel="shortcut icon" type="image/x-icon">
  <link href="../images/HeySkillMeWebsiteIcon.png" rel="apple-touch-icon">
  <style>
    /*change the thinkness of the scrollbar here*/

    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /*add a shadow to the scrollbar here*/

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /*this is the little scrolly dealio in the bar*/

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #E2E2E2;
      height: 3px;
      background-clip: content-box;
    }

    /*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/

    ::-webkit-scrollbar-corner {
      display: none;
      height: 0px;
      width: 0px;
    }
  </style>
</head>

<body onload="checkConsent()">
  <div id="guideinfo" class="guide-legal-info-block">
    <div class="guideadviseprofilepicture bottomright"></div>
    <div id="guidemessage"></div>
  </div>
  <div data-ix="hide-transparent" style="display:none;opacity:0" class="mentoroverlay">
    <div data-ix="close-mentor-overlay" data-w-id="bc34c87b-d8f1-f1fb-4f09-de8482ba0d48" class="mentoroverlayclickable"></div>
    <div data-ix="mentorpopupwino" class="mentorpopupwindow-2">
      <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
        <div class="w-slider-mask">
          <div class="slide w-slide"></div>
          <div class="w-slide"></div>
        </div>
      </div>
      <a href="#" data-ix="close-mentor-overlay" class="largementorprofilepicturelayover w-inline-block"></a>
      <div class="div-block-8"></div>
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-disable-swipe="1" data-duration="500" data-infinite="1"
        class="textsearchwhatexamplesslider w-slider">
        <div class="w-slider-mask">
          <div class="w-slide">
            <div class="textsearchwhatlearnexamples">What do you want to build?</div>
          </div>
          <div class="w-slide">
            <div class="textsearchwhatlearnexamples">What job do you want to get?</div>
          </div>
          <div class="w-slide">
            <div class="textsearchwhatlearnexamples">What programming language
              <br>do you want to learn?</div>
          </div>
        </div>
      </div>
      <div class="html-embed-3 w-embed">
        <div class="form-block-3 w-form">
          <form onsubmit="location.href='/search?q=' + encodeURIComponent(document.getElementById('search-input').value); return false;">
            <input id="search-input" type="text" class="search-box-small" maxlength="256" autofocus="true" name="Search-input" data-name="Search input"
              placeholder="What do you want to learn?" required="" autocapitalize="off" autocomplete="off" autocorrect="off"
              role="textbox" spellcheck="false" value="">
            <input type="submit" class="search-button smallsearchbutton w-button">
          </form>
        </div>
      </div>
      <div class="search-button-2 smallsearchbutton"></div>
      <div class="search-query-box small w-embed w-script">
        <div id="queries"></div>
        <script type="text/html" id="hit-template1">
          <div class="div-block-20">
            <a target="_blank" href="{{search URL}}" class="search-query">{{topic}}</a>
          </div>
        </script>
      </div>
    </div>
  </div>
  <div class="headerbarsearch smallheaderbar">
    <a href="/" class="logo w-hidden-small w-hidden-tiny">SkillMe</a>

    <a href="/" class="logo w-hidden-main w-hidden-medium">SkillMe</a>

    <div class="sharebuttonsdetailpage blogposts">
      <div class="w-embed">
        <a href="#disqus_thread" class="sharebutton comment" automate_uuid="e657b75d-6723-430f-b6ea-21d1818d6f6e">Comment</a>
      </div>
      <div class="w-embed">
        <a href="https://www.twitter.com/share?url=https%3A%2F%2Fheyskill.me%2Fblog%2F{{slug}}" target="_blank" class="sharebutton shareontwitter"
          automate_uuid="e657b75d-6723-430f-b6ea-21d1818d6f6e">Share</a>
      </div>
      <div class="w-embed">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fheyskill.me%2Fblog%2F{{slug}}" target="_blank" class="sharebutton shareonfacebook"
          automate_uuid="e52964be-51f8-4ead-ba92-eacebef9d024">Share</a>
      </div>
    </div>
  </div>
  <div class="rich-text-block w-richtext">
    {{message}}

    <h2>Any open question? Anything you missed in the blog post?</h2>
    <input class="userfeedbackinput" id="feedback" type="text" name="feedback" tabindex="-1" placeholder="Your feedback..." value="">
    <a id="sendfeedback" onclick="sendfeedback()" class="sendbutton">Send</a>
    <div id="feedbackthanks" class="completedmessage">Thanks for your suggestion!</div>
    <div id="feedbacknomessage" class="completedmessage">You didn't typed anything...</div>

    <h2 id="createlearningpathheadline">Setup your learning path:</h3>
      <div class="setuppathblock" style="width: 110%;margin-left: -5%;">
        <div id="wanttostart">
          <div class="setupinfo" id="learnpathinfo">For now, we save the information in a cookie on your computer. Support for user accounts will be added later, including
            the option to import the data saved in this cookie.</div>
          <br>
          <div style="text-align: center;">
            <a id="startlearnpathcustom" href="#learnpath" onclick="startbuildlearnpath()" class="sendbutton" style="display: inline-block">Start</a>
          </div>
        </div>
        <div id="learnpathquestions" style="display: none;">
          <div id="progressbar" class="progressbar">
            <div class="progress" id="progress"></div>
          </div>
          <div id="questionnumber" class="questionnumber">question 1 of x</div>
          <div id="q" class="question"></div>
          <br>
          <div id="answeroptions"></div>
          <br>
          <div style="text-align: center">
            <a id="previouspathquestion" href="#learnpath" onclick="previousquestion()" class="sendbutton back">Back</a>
            <a id="nextpathquestion" href="#learnpath" onclick="nextquestion()" class="sendbutton" style="display: inline-block">Save & continue</a>
          </div>
        </div>
        <div id="yourdone" style="display: none; max-width: 90%; margin: auto;">Awesome, you are all set! Want to update your learning path? Go to
          <a href="/cookies">heyskill.me/cookies</a>.
          <br>Reload the
          <a href="/">start page</a> to see your customized recommendations!</div>
      </div>

      <div class="disqusBlock" id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>

  </div>
  <div class="footerblock w-row">
    <div class="column-2 w-col w-col-6 w-col-small-6 w-col-tiny-6">
      <a href="cookies" class="footertextlink w--current">🍪 Cookies</a>
      <a href="privacy" class="footertextlink w--current">Privacy Policy</a>
      <a href="imprint" class="footertextlink w--current">Imprint</a>
      <a href="terms-and-conditions" class="footertextlink w--current">Terms and Conditions</a>
    </div>
    <div class="column-3 w-col w-col-6 w-col-small-6 w-col-tiny-6">
      <a href="https://github.com/marcoEDU/heySkill.me/issues/new" target="_blank" class="footertextlink">Found a bug?         Submit an issue</a>       <div class="text-block-12">Follow &amp; contact!</div>
      <div class="w-clearfix">
        <a href="https://github.com/marcoEDU/heySkill.me/" target="_blank" class="contactuslink git">
          <span class="text-span-3">Git</span>
        </a>
        <a href="https://www.facebook.com/heySkill.me/" target="_blank" class="contactuslink facebook">
          <span class="text-span-3">Facebook</span>
        </a>
        <a href="https://twitter.com/heySkillMe" target="_blank" class="contactuslink twitter">
          <span class="text-span-4">Twitter</span>
        </a>
        <a href="mailto:contact@heyskill.me" class="contactuslink email">
          <span class="text-span-5">E-Mail</span>
        </a>
      </div>
      <div class="madewithlove">Made with ❤️ by
        <a target="_blank" href="https://github.com/marcoEDU">Marco</a>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../js/heyskillme.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script>
    //get search from url? otherwise redirect to error page
    var url = window.location.href
    var slug = url.match(/\/blog\/(.*)/)[0]

    //send via slack
    function sendfeedback() {
      var input = document.getElementById("feedback").value
      if (input.length > 0) {
        var slackurl =
          "https://hooks.slack.com/services/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" // Webhook URL
        var text =
          `New feedback to '${url}':
>>> 💡 ${input}

Want to update the blog post?
https://airtable.com/tbl0lN7Y3BpQCGsKu/viwtoKZygW2RpQTpb` // Text to post
        $.ajax({
          data: 'payload=' + JSON.stringify({
            "text": text
          }),
          dataType: 'json',
          processData: false,
          type: 'POST',
          url: slackurl
        })
        document.getElementById("feedback").style.display = "none";
        document.getElementById("sendfeedback").style.display = "none";
        document.getElementById("feedbackthanks").style.display = "block";
        document.getElementById("feedbacknomessage").style.display = "none";
      } else {
        document.getElementById("feedbacknomessage").style.display = "block";
      }
    }

    var feedbackinput = document.getElementById("feedback")

    // Execute a function when the user releases a key on the keyboard
    feedbackinput.addEventListener("keyup", function (event) {
      // Cancel the default action, if needed
      event.preventDefault();
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Trigger the button element with a click
        document.getElementById("sendfeedback").click();
      }
    });


    var disqus_config = function () {
      this.page.url = window.location.href; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = slug; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (async function () { // DON'T EDIT BELOW THIS LINE
      var d = await document,
        s = d.createElement('script');
      s.src = 'https://heyskill-me.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
</body>

</html>